logs/
node_modules/
node.zip
**/platform_scripts/cmd/*/
!**/platform_scripts/cmd/setenv/
**/platform_scripts/bash/*/
node.zip
SignallingWebServer/Public/
SignallingWebServer/certificates
.vscode
coverage/
